/* Ini adalah file styling untuk proyek web saya */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7ga; /* Warna latar belakang abu-abu muda */
    color: #361; /* Warna teks abu-abu gelap */
    margin: 10px;
    padding: 0;
}

h1 {
    color: #d31410; /* Warna biru untuk judul */
}

p {
    line-height: 1.5;
}
